html
    head
        title Open Gallery
        link(rel="stylesheet" href="styles/styles.css")
    body
        include header.pug 

        p Welcome to the Open Gallery 
        br
        p Use the navbar to browse the website